
<div class="content">        
        <div class="row">
                <div class="col-md-12 text-center">
                <h2 id="green">Music List</h2>
                </div>
        </div> 
    
        <table class="table table-striped">
                <thead>
                        <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let music of musicList; let i = index" >
                        <th scope="row" (click)="goToMusic(music.id);">{{music.id}}</th>
                        <td (click)="goToMusic(music.id);">{{music.name}}</td>
                        <td><a class="btn btn-primary" href="{{music.listenUrl}}" role="button" target="_blank">Listen</a></td>
                        <td><a class="btn btn-primary" href="{{music.downloadUrl}}" role="button" target="_blank">Download</a></td>
                        <td (click)="deleteMusic(music.id);" ><a id="white" class="btn btn-primary" role="button">Delete</a></td>
                        </tr>                        
                </tbody>
        </table>
</div>
        