<div class="content">        
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 id="green">User List</h2>
        </div>
    </div>    
    <!-- <div class="row" *ngFor="let user of userList; let i = index" (click)="goToUser(user.id);" >
            <div class="col-md-3 text-center">
                    {{user.name}}
            </div>
            <div class="col-md-9 text-center">
                    {{user.email}}
            </div>
    </div>    -->
    
    
    <table class="table table-striped">
            <thead>
                    <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                    </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let user of userList; let i = index" >
                    <th scope="row" (click)="goToUser(user.id);" >{{user.id}}</th>
                    <td (click)="goToUser(user.id);" >{{user.name}}</td>
                    <td (click)="goToUser(user.id);">{{user.email}}</td>
                    <td (click)="deleteUser(user.id);" ><a id="white" class="btn btn-primary" role="button">Delete</a></td>
                    </tr>
                    
            </tbody>
    </table>
</div>
      